html,body {
  background: gray;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
}

#chess-board-table {
  margin-top: 50px;
}

#chess-board-table td {
  text-align: center;
  padding-bottom: 10%;
  border: 2px solid black;
  margin: 0px;
}

.black-board-position, .white-board-position {background-size: contain;}
@media (min-width: 768px) {
	.black-board-position, .white-board-position {background-size: auto;}
}

.black-board-position {
  background: #666;
}

.white-board-position {
  background: #999;
}

.game-piece {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain; 
}

#messages {
  display: block;
  height: 0px;
  width: 100%;
  text-align: center
}

.sidebar {margin-top: 50px;}
.captured-piece-wrapper {
  border: 1px solid black;
  height: 640px;
}
