html,body {
  background: gray;
}
table {
  border-spacing: 0px;
  border-collapse: collapse;
}

#chess-board-table {
  margin-top: 50px;;
}

#chess-board-table td {
  text-align: center;
  width: 30px;
  height: 30px;
  border: 2px solid black;
  margin: 0px;
}
@media (min-width: 768px) {#chess-board-table td {width: 45px; height: 45px;}}
@media (min-width: 992px) {#chess-board-table td {width: 60px; height: 60px;}}
@media (min-width: 1200px) {#chess-board-table td {width: 80px; height: 80px;}}

.black-board-position {
  background: #666;
}

.white-board-position {
  background: #999;
}

.white-captured-piece {
  display: block;
  width: 60px;
  float: left;
}

.black-captured-piece {
  display: block;
  width: 60px;
  float: right;
}

.white-captured-piece img {
  width: 42px;
}

.black-captured-piece img {
  width: 42px;
}

#messages {
  display: block;
  height: 0px;
  width: 100%;
  text-align: center
}

.sidebar {margin-top: 50px;}
.captured-piece-wrapper {
  border: 1px solid black;
  height: 640px;
}
